body 
{
    background-color: rgb(236, 228, 228);
    text-align: center;
}
#d0
{
    background-image: url("https://cn.opendesktop.org/img/f/a/5/c/2626ed869bb907c041a98ce4953985456d14.jpg");
    /*background-color: rgb(100, 159, 236);*/
    border-style: solid;
    display: inline-block;
    width: 90%;
}
#d1
{
    display: inline-block;
    border-style: solid;
    border-color: yellow;
    text-align: left;
    vertical-align: top;
    width: 52%;
    margin-bottom: 50px;
}
#d1a
{
    display: inline-block;
    border-style: dotted;
}
#d1b
{
    display: inline-block;
    border-color: gray;
    vertical-align: bottom;
}
#rpsStart
{
    background-color: plum;
    height: 50px;
    margin-left: 10px;
}
#rpsStart:hover
{
    background: rgb(241, 166, 52);
}
#d2
{
    display: inline-block;
    border-style: solid;
    border-color: blue;
    width: 30%;
}
#paper_pic
{
    width: 27%;
    margin-left: auto;
}
#rock_pic
{
    width: 27%;
    margin-left: auto;
}
#scissors_pic
{
    width: 20%;
    margin-top: 10px;
    margin-right: auto;
}
#d1c, #d1d
{
    display: inline-block;
    vertical-align: top;
    padding-right: 50px;
    margin-left: 5%;
}